misc
whitesocket_data
rethinkdb_data
__pycache__
config.json
.Trash-1000
docs

node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

*.jpg
*.png
*.bmp
